#main1 {
  width: 100vw;
  height: 10vh;
  margin: 0;
  background-color: #3d56e3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#logo {
  height: 100%;
  width: 15%; }

#logoi {
  height: 100%;
  width: 100%; }

#options {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

div a {
  color: white;
  text-decoration: none; }

.textdec {
  color: white;
  font-weight: 400;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif; }
